In [16]:
import pandas as pd
import numpy as np
df1 = pd.read_csv('/Users/ibb4n/Downloads/FireWeatherTest/California_Fire_Incidents_Modified_Again.csv')
df1

,AcresBurned,Latitude,Longitude,Started,UniqueId
0,257314,37.857000,-120.086000,2013-08-17T15:25:00Z,5fb18d4d-213f-4d83-a179-daaf11939e78
1,30274,34.585595,-118.423176,2013-05-30T15:28:00Z,bf37805e-1cc2-4208-9972-753e47874c87
2,27531,33.709500,-116.728850,2013-07-15T13:43:00Z,a3149fec-4d48-427c-8b2c-59e8b79d59db
3,27440,39.120000,-120.650000,2013-08-10T16:30:00Z,8213f5c7-34fa-403b-a4bc-da2ace6e6625
4,24251,0.000000,0.000000,2013-05-02T07:01:00Z,46731fb8-3350-4920-bdf7-910ac0eb715c
...,...,...,...,...,...
1628,10,39.423833,-121.579738,2019-07-23T14:41:00Z,7955a367-99da-4047-9f69-cc60ad3208e6
1629,10,41.946220,-122.401570,2019-06-16T20:33:00Z,fe63d965-9069-4a96-b9da-99d5fefdaa19
1630,10,39.839580,-121.957000,2019-04-30T12:20:00Z,34abbc65-5bbe-474b-85c8-16d07bb5b503
1631,9,33.827979,-117.499619,2019-10-10T12:08:00Z,6e93b252-99a3-4214-9921-238373b17535
1632,2,39.409722,-121.000556,2019-06-28T15:03:04Z,b38c0563-b321-431b-9174-6336c5a0d449

In [2]:
df2 = pd.read_csv('/Users/ibb4n/Downloads/FireWeatherTest/WeatherStationLocations.csv')
df2

     Stn Id   Latitude   Longitude
0         2  36.336222 -120.112910
1         5  35.532556 -119.281790
2         6  38.535694 -121.776360
3         7  36.851222 -120.590920
4        12  39.608639 -121.824430
..      ...        ...         ...
145     260  41.798331 -122.463425
146     261  41.533989 -122.532279
147     262  38.065692 -121.071747
148     263  41.894592 -124.165043
149     264  39.777452 -120.273609

[150 rows x 3 columns]

In [3]:
dataset1 = df1.values
dataset1
#loc_dataset1 = dataset1[:,1:3]
#loc_dataset1

array([[257314, 37.857, -120.086, '2013-08-17T15:25:00Z',
        '5fb18d4d-213f-4d83-a179-daaf11939e78'],
       [30274, 34.585595, -118.423176, '2013-05-30T15:28:00Z',
        'bf37805e-1cc2-4208-9972-753e47874c87'],
       [27531, 33.7095, -116.72885, '2013-07-15T13:43:00Z',
        'a3149fec-4d48-427c-8b2c-59e8b79d59db'],
       ...,
       [10, 39.83958, -121.957, '2019-04-30T12:20:00Z',
        '34abbc65-5bbe-474b-85c8-16d07bb5b503'],
       [9, 33.827979, -117.499619, '2019-10-10T12:08:00Z',
        '6e93b252-99a3-4214-9921-238373b17535'],
       [2, 39.40972222, -121.0005556, '2019-06-28T15:03:04Z',
        'b38c0563-b321-431b-9174-6336c5a0d449']], dtype=object)

In [4]:
dataset2 = df2.values
dataset2

array([[   2.      ,   36.336222, -120.11291 ],
       [   5.      ,   35.532556, -119.28179 ],
       [   6.      ,   38.535694, -121.77636 ],
       [   7.      ,   36.851222, -120.59092 ],
       [  12.      ,   39.608639, -121.82443 ],
       [  13.      ,   38.753136, -120.7336  ],
       [  15.      ,   36.157972, -119.85143 ],
       [  35.      ,   37.358514, -118.40553 ],
       [  39.      ,   36.597444, -119.50404 ],
       [  41.      ,   33.042986, -115.41585 ],
       [  43.      ,   41.063767, -121.45602 ],
       [  44.      ,   33.964942, -117.33698 ],
       [  47.      ,   37.928258, -121.6599  ],
       [  52.      ,   35.305442, -120.66178 ],
       [  54.      ,   35.649861, -119.9593  ],
       [  56.      ,   37.096694, -120.7539  ],
       [  62.      ,   33.48665 , -117.22827 ],
       [  64.      ,   34.583144, -120.07924 ],
       [  68.      ,   32.759575, -115.73207 ],
       [  70.      ,   37.834822, -121.22319 ],
       [  71.      ,   37.645222, -121.18776 ],
       [  75.      ,   33.68845 , -117.72118 ],
       [  77.      ,   38.428475, -122.41021 ],
       [  78.      ,   34.056589, -117.81307 ],
       [  80.      ,   36.820833, -119.74231 ],
       [  83.      ,   38.40355 , -122.79993 ],
       [  84.      ,   39.252561, -121.31567 ],
       [  87.      ,   32.806183, -115.44626 ],
       [  88.      ,   34.942525, -119.6738  ],
       [  90.      ,   41.438214, -120.48031 ],
       [  91.      ,   41.958869, -121.47237 ],
       [  92.      ,   37.231861, -120.88082 ],
       [  99.      ,   34.044311, -118.47689 ],
       [ 103.      ,   38.52665 , -122.813758],
       [ 104.      ,   36.997444, -121.99676 ],
       [ 105.      ,   36.634028, -120.38181 ],
       [ 106.      ,   38.982581, -123.08928 ],
       [ 107.      ,   34.437353, -119.73742 ],
       [ 109.      ,   38.219503, -122.35496 ],
       [ 113.      ,   36.121083, -121.08457 ],
       [ 114.      ,   36.347306, -121.29135 ],
       [ 116.      ,   36.716806, -121.69189 ],
       [ 117.      ,   34.475914, -117.26351 ],
       [ 124.      ,   36.890056, -120.73141 ],
       [ 125.      ,   35.205583, -118.77841 ],
       [ 126.      ,   36.854833, -121.36275 ],
       [ 129.      ,   36.902778, -121.74193 ],
       [ 131.      ,   38.649964, -121.21887 ],
       [ 135.      ,   33.662869, -114.55811 ],
       [ 136.      ,   33.523694, -116.15575 ],
       [ 139.      ,   38.501258, -121.97853 ],
       [ 140.      ,   38.121739, -121.674455],
       [ 142.      ,   36.721083, -119.38903 ],
       [ 143.      ,   36.822861, -121.46787 ],
       [ 144.      ,   38.266428, -122.61646 ],
       [ 146.      ,   35.505833, -119.69114 ],
       [ 147.      ,   32.628208, -116.93928 ],
       [ 148.      ,   37.314139, -120.3867  ],
       [ 150.      ,   32.885847, -117.14314 ],
       [ 151.      ,   33.532222, -114.63389 ],
       [ 152.      ,   34.219386, -118.99244 ],
       [ 153.      ,   33.08105 , -116.9757  ],
       [ 155.      ,   38.599158, -121.54041 ],
       [ 157.      ,   37.995478, -122.467656],
       [ 158.      ,   38.419439, -122.65872 ],
       [ 159.      ,   34.146372, -117.9858  ],
       [ 160.      ,   35.335261, -120.73588 ],
       [ 163.      ,   35.472556, -120.64814 ],
       [ 165.      ,   34.841878, -120.21274 ],
       [ 169.      ,   36.082056, -119.09342 ],
       [ 170.      ,   38.015372, -122.02028 ],
       [ 171.      ,   37.598758, -122.05323 ],
       [ 173.      ,   32.901867, -117.25046 ],
       [ 174.      ,   33.798697, -118.09479 ],
       [ 175.      ,   33.383697, -114.71921 ],
       [ 178.      ,   37.837614, -122.14074 ],
       [ 179.      ,   33.663325, -117.09338 ],
       [ 181.      ,   33.078611, -115.66056 ],
       [ 182.      ,   35.833   , -119.25596 ],
       [ 183.      ,   36.488611, -117.91944 ],
       [ 184.      ,   32.729578, -117.13934 ],
       [ 187.      ,   38.090933, -122.5267  ],
       [ 189.      ,   36.358628, -117.94387 ],
       [ 191.      ,   37.663969, -121.88503 ],
       [ 192.      ,   34.255942, -117.21814 ],
       [ 193.      ,   36.633222, -121.93486 ],
       [ 194.      ,   37.727194, -120.85086 ],
       [ 195.      ,   38.887603, -121.10291 ],
       [ 197.      ,   34.614981, -118.03249 ],
       [ 198.      ,   34.324639, -119.10488 ],
       [ 199.      ,   34.237419, -116.86571 ],
       [ 200.      ,   33.748586, -116.2529  ],
       [ 202.      ,   35.028281, -120.56003 ],
       [ 204.      ,   34.426361, -118.51758 ],
       [ 205.      ,   36.175833, -120.36027 ],
       [ 206.      ,   37.545869, -120.75453 ],
       [ 207.      ,   33.268447, -116.36505 ],
       [ 208.      ,   33.678186, -116.27299 ],
       [ 209.      ,   36.913083, -121.82365 ],
       [ 210.      ,   36.540889, -121.88196 ],
       [ 211.      ,   37.015026, -121.53704 ],
       [ 212.      ,   38.278056, -121.74111 ],
       [ 213.      ,   37.931539, -122.302714],
       [ 214.      ,   36.625619, -121.537889],
       [ 215.      ,   34.291331, -118.57004 ],
       [ 216.      ,   34.256111, -118.38278 ],
       [ 217.      ,   34.269031, -118.849319],
       [ 218.      ,   33.595694, -116.15811 ],
       [ 219.      ,   34.214197, -118.64477 ],
       [ 220.      ,   34.592222, -118.1275  ],
       [ 221.      ,   34.513611, -115.51056 ],
       [ 222.      ,   40.028778, -122.15575 ],
       [ 223.      ,   34.142911, -118.36632 ],
       [ 224.      ,   40.63    , -122.31    ],
       [ 225.      ,   41.577778, -122.838125],
       [ 226.      ,   38.672722, -121.81172 ],
       [ 227.      ,   38.508333, -120.79972 ],
       [ 228.      ,   38.636111, -120.79305 ],
       [ 229.      ,   36.570111, -121.7865  ],
       [ 231.      ,   34.672222, -120.51306 ],
       [ 232.      ,   34.913472, -120.46478 ],
       [ 233.      ,   34.138147, -116.21319 ],
       [ 235.      ,   38.797944, -121.61136 ],
       [ 236.      ,   41.802476, -121.996159],
       [ 237.      ,   33.55281 , -117.043302],
       [ 239.      ,   33.664747, -116.955121],
       [ 240.      ,   33.76    , -117.2     ],
       [ 241.      ,   33.4625  , -117.586111],
       [ 242.      ,   38.192397, -121.510261],
       [ 243.      ,   38.249622, -121.555528],
       [ 244.      ,   39.386632, -121.835278],
       [ 245.      ,   33.621667, -117.585278],
       [ 246.      ,   38.773409, -119.79193 ],
       [ 247.      ,   38.033386, -121.701247],
       [ 248.      ,   37.932072, -121.396661],
       [ 249.      ,   37.755597, -121.266153],
       [ 250.      ,   39.210667, -122.168889],
       [ 251.      ,   34.112042, -117.1857  ],
       [ 252.      ,   36.456728, -121.344388],
       [ 253.      ,   37.255333, -122.3708  ],
       [ 254.      ,   37.718167, -122.197111],
       [ 256.      ,   34.759475, -117.991997],
       [ 257.      ,   35.659128, -117.636925],
       [ 258.      ,   36.376917, -119.037972],
       [ 259.      ,   40.604467, -124.243186],
       [ 260.      ,   41.798331, -122.463425],
       [ 261.      ,   41.533989, -122.532279],
       [ 262.      ,   38.065692, -121.071747],
       [ 263.      ,   41.894592, -124.165043],
       [ 264.      ,   39.777452, -120.273609]])

In [5]:
empty_array = np.empty([1633,2])
dataset1 = np.append(dataset1,empty_array, axis=1)
dataset1

array([[257314, 37.857, -120.086, ...,
        '5fb18d4d-213f-4d83-a179-daaf11939e78', 0.0, 1.063e-320],
       [30274, 34.585595, -118.423176, ...,
        'bf37805e-1cc2-4208-9972-753e47874c87', 0.0, 5.14e-322],
       [27531, 33.7095, -116.72885, ...,
        'a3149fec-4d48-427c-8b2c-59e8b79d59db', 3.725474555587434e+174,
        1.159984119989337e-28],
       ...,
       [10, 39.83958, -121.957, ...,
        '34abbc65-5bbe-474b-85c8-16d07bb5b503', 5.4e-323, 5.4e-323],
       [9, 33.827979, -117.499619, ...,
        '6e93b252-99a3-4214-9921-238373b17535', 5e-323, 5e-323],
       [2, 39.40972222, -121.0005556, ...,
        'b38c0563-b321-431b-9174-6336c5a0d449', 5e-323, 5e-323]],
      dtype=object)

In [6]:
import math
closest_distance = 1000
closest_station = 0
for i in range(1633):
    for x in range(150):
        distance = math.sqrt(((dataset2[x,1]-dataset1[i,1]) ** 2)+((dataset2[x,2]-dataset1[i,2]) ** 2))
        if distance < closest_distance:
            closest_distance = distance
            closest_station = dataset2[x,0]
    closest_distance = closest_distance*69
    dataset1[i,5] = closest_distance
    dataset1[i,6] = closest_station
    closest_distance = 1000

In [7]:
dataset1

array([[257314, 37.857, -120.086, ...,
        '5fb18d4d-213f-4d83-a179-daaf11939e78', 42.81996545868889, 148.0],
       [30274, 34.585595, -118.423176, ...,
        'bf37805e-1cc2-4208-9972-753e47874c87', 12.772938493889585,
        204.0],
       [27531, 33.7095, -116.72885, ...,
        'a3149fec-4d48-427c-8b2c-59e8b79d59db', 15.915145255336949,
        239.0],
       ...,
       [10, 39.83958, -121.957, ...,
        '34abbc65-5bbe-474b-85c8-16d07bb5b503', 18.37377501668962, 12.0],
       [9, 33.827979, -117.499619, ...,
        '6e93b252-99a3-4214-9921-238373b17535', 14.671273799915596, 44.0],
       [2, 39.40972222, -121.0005556, ...,
        'b38c0563-b321-431b-9174-6336c5a0d449', 24.297087301406656, 84.0]],
      dtype=object)

In [8]:
#distance_counter = 0
for i in reversed(range(1633)):
    if dataset1[i,5] > 10:
        dataset1 = np.delete(dataset1,i,0)
print(dataset1.shape)

(410, 7)

In [9]:
dataset1

array([[3166, 34.288877, -116.941311, ...,
        'a1b14be5-a8cf-4e40-8588-96becf4c5879', 6.3101761774420755,
        199.0],
       [1984, 34.55048, -119.82429, ...,
        'abc61995-8bea-4be1-aa49-ee378ab3baaa', 9.841663053217754, 107.0],
       [712, 34.49149, -118.610044, ...,
        '39af7eac-c188-411f-8c8a-d165c5fca4a9', 7.803829211231, 204.0],
       ...,
       [12, 39.32889, -121.23431, ...,
        '42e2b6f0-2d63-4fbf-bbb4-4fc2eda4805d', 7.6976190454584525, 84.0],
       [11, 34.033117, -117.21545, ...,
        '6ad5dc4a-bd52-4cb4-9664-2ab606289d21', 5.819861896396764, 251.0],
       [10, 32.762706, -117.097441, ...,
        '2a516d14-36ce-43b0-b34c-7483759a9c84', 3.6855241384621094,
        184.0]], dtype=object)

In [14]:
import numpy
data = numpy.asarray(dataset1)
numpy.savetxt('nearestFireStation.csv', data, fmt='%s')